OPENAI_API_KEY=<open-ai-key>
PG_RDBMS_CONNECTION_STRING=postgresql+psycopg://rag_readonly:
OPENAI_CHAT_MODEL="gpt-5.5"
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"
PG_CONNECTION_STRING=<url>
PG_CONNECTION_STRING_FTS=<url>
COHERE_API_KEY=<cohere-api-key>

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<lamgsmith-api-key>
LANGSMITH_PROJECT=credit-card-spend-assistant
